<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fz.multilanguages.demo">

    <application
        android:name=".app.MultiLanguagesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.im.sdk.notify_small_icon"
            android:resource="@mipmap/im_ic_selected" />
        <meta-data
            android:name="com.im.sdk.notification_channel_id"
            android:value="default" />
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SecondActivity" />
        <activity android:name=".SettingActivity" />

        <service android:name=".MyIntentServices" />
        <service android:name=".MyService"/>
    </application>

</manifest>